$primary-color: #ff173d;
$background-light: #f9fafb;
$background-secondary: #c67605;

@mixin input-form-control-1 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #e0e0e0;
}

@mixin input-form-control-2 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  background-color: #eceeef;
  border: 0px;
  padding: 12px 30px;
}

@mixin btn-primary {
  background: $primary-color;
  border-color: $primary-color;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

@mixin btn-primary-effect {
  background: #fff;
  border-color: #000;
  color: #000;
}

@mixin bread-crumbs {
  color: #000;
  font-weight: 300;
  font-family: "Inter";
  font-size: 14px;
  border-top: 1px solid $primary-color !important;
}

@mixin custom-navLink {
  color: #000 !important;
  border-bottom: 2px solid transparent;
  padding-right: 0px 20px;
  font-family: poppins, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@mixin bread-crumbs-a {
  color: #000;
  font-weight: 600;
  font-family: "Inter";
  font-size: 14px;
  text-decoration: none;
}

@mixin cart-count {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 4px 5px;
  vertical-align: top;
  margin-left: -10px;
}

@mixin nav-pagination {
  background: $primary-color !important;
  color: #fff !important;
  border: 1px solid $primary-color !important;
  border-radius: 5px;
}

@mixin btn-outline-primary {
  border-color: $primary-color;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: $primary-color;
}

@mixin btn-outline-primary-2 {
  font-family: poppins, Sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0;
  border: 3px solid $primary-color;
  padding: 20px;
}

@mixin how-we-can-help {
  background-image: url("../assests/bg-how-we.webp");
  background-position: center left;
  background-repeat: no-repeat;
}

@mixin contact {
  padding: 40px 0px;
  background-image: url("../assests/logo-bg-adv2.webp");
  background-position: top right;
  background-repeat: no-repeat;
  border-top: 1px solid $primary-color;
}
@mixin banner-about {
  background: url(../assests/about-banner.png);
  min-height: 500px;
  background-size: cover;
  border-top: 1px solid $primary-color;
}

@mixin ba-tb-h1 {
  font-family: poppins, Sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}

@mixin ba-tb-h5 {
  font-family: inter, Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
  color: #676d75;
}

@mixin banner-brands {
  background: url(../assests/banner-brands.webp);
  min-height: 500px;
  background-size: cover;
  border-top: 1px solid $primary-color;
}

@mixin bb-tb-h1 {
  font-family: poppins, Sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

@mixin bb-tb-h5 {
  font-family: inter, Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
  color: #fff;
}

@mixin bc-btn-outline-primary {
  font-family: poppins, Sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0;
  border: 3px solid $primary-color;
  padding: 20px;
}

@mixin banner-solutions {
  background: url(../assests/banner-solutions.webp);
  min-height: 500px;
  background-size: cover;
}
@mixin banner-solutions-sol-government {
  background: url(../assests/sol-govern.webp);
  min-height: 400px;
  background-size: cover;
}
@mixin banner-solutions-sol-trade {
  background: url(../assests/sol-trade.webp);
  min-height: 400px;
  background-size: cover;
}
@mixin banner-solutions-sol-nonpro {
  background: url(../assests/sol-nonpro.webp);
  min-height: 400px;
  background-size: cover;
}

@mixin banner-solutions-sol-lobbyist {
  background: url(../assests/sol-lobbyst.webp);
  min-height: 400px;
  background-size: cover;
}

@mixin banner-solutions-sol-grassroots {
  background: url(../assests/sol-grassroots.webp);
  min-height: 400px;
  background-size: cover;
}

@mixin banner-solutions-sol-developers {
  background: url(../assests/sol-developers.png);
  min-height: 400px;
  background-size: cover;
}

@mixin sol-c-bc-h4 {
  margin-bottom: 20px;
  font-family: poppins, Sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.4em;
}
@mixin sol-c-bc-p {
  font-family: inter, Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
  color: #676d75;
  padding-bottom: 0px;
}
@mixin sol-c-bc-ul-li {
  font-family: inter, Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
  color: $primary-color;
  padding-bottom: 0px;
}
@mixin sol-c-bc-btn {
  font-family: poppins, Sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0;
  border: 3px solid $primary-color;
  padding: 20px;
}
@mixin sol-pl-a {
  text-decoration: none;
  font-family: poppins;
  font-size: 14px;
  color: #2c2c2c;
  font-weight: 400;
}

@mixin banner-products {
  background: url(../assests/banner-products.png);
  min-height: 500px;
  background-size: cover;
}

@mixin bp-tb-h1 {
  font-family: poppins, Sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

@mixin bp-tb-h5 {
  font-family: inter, Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
  color: #fff;
}

@mixin p-c-bc-h4 {
  margin-bottom: 20px;
  font-family: poppins, Sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.4em;
}

@mixin p-c-bc-ul-li {
  font-family: inter, Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
  color: $primary-color;
  padding-bottom: 0px;
}

@mixin p-c-bc-p {
  font-family: inter, Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
  color: #676d75;
  padding-bottom: 0px;
}

@mixin p-c-bc-btn {
  font-family: poppins, Sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0;
  border: 3px solid $primary-color;
  padding: 20px;
}

@mixin a-c-h3 {
  color: #4f4f4f;
  font-family: inter, Sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 10px;
  position: relative;
  padding-bottom: 20px;
  padding: 0 0 20px 60px;
}

@mixin a-c-h4 {
  color: #000;
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4em;
  margin-bottom: 80px;
}

@mixin a-md-p {
  color: #fff;
  font-family: poppins, Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
}

@mixin a-md-h4 {
  font-size: 44px;
  line-height: 1.4em;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

@mixin a-plo-h5 {
  font-family: poppins, Sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4em;
  color: #000;
}

@mixin a-plo-p {
  font-family: inter, Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  color: #676d75;
}

@mixin banner-legal {
  background: url(../assests/banner-main.png);
  min-height: 280px;
  background-size: cover;
}

@mixin bl-tb-h1 {
  font-family: poppins, Sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

@mixin bl-tb-h5 {
  font-family: inter, Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
  color: #fff;
}

@mixin legal {
  padding: 40px 0px;
  background-image: url("../assests/logo-bg-adv2.webp");
  background-position: top right;
  background-repeat: no-repeat;
}

@mixin l-tt-h2 {
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 1.4em;
}
@mixin l-tt-p {
  font-family: "Inter", Sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.4em;
  color: #676d75;
}

@mixin l-lc-a {
  padding-bottom: 30px;
  display: block;
  text-decoration: none;
  font-family: inter, Sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #54595f;
}

@mixin homepage-h3 {
  font-family: poppins, Sans-serif;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000;
}

@mixin h-pc-bpc {
  padding: 20px 20px 0px;
  background-color: #f9fafb;
  border-radius: 0 0 0 0;
  text-align: center;
  min-height: 300px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 60px;
}

@mixin h-p-ht-p {
  font-family: inter, Sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #676d75;
}

@mixin cardStyle0 {
  background: url("../assests/sample0.jpeg") no-repeat center center;
  background-size: contain;
}
@mixin cardStyle1 {
  background: url("../assests/sample1.jpeg") no-repeat center center;
  background-size: contain;
}
@mixin cardStyle2 {
  background: url("../assests/sample2.jpeg") no-repeat center center;
  background-size: contain;
}

@mixin homepage-pd {
  background: url("../assests/banner-printed2.webp") no-repeat;
  background-size: 100% auto;
  height: 400px;
  margin-bottom: 60px;
}
